.sealife {
  background-color: #99e6f9;
  -webkit-mask-image: url(https://lh3.googleusercontent.com/proxy/Qb-EkzVuXPnssw26tfZH1sA7t4_B64af3sShHk3MTIawQE14Ck-tlFNHptahu1qSuM-xOT8eHqItPPBsp2-O1wie47PnUBbVuyMsGX26pc2Ef3QIXZDJxQf5ECQ);
  -webkit-mask-size: 3.5%;
  height: 100vh;
}

// image_tag("icon")

.sealife-text {
  padding-top: 13%;
  color: #21c8f2;
  font-size: 9.5rem;
}

.sealife-enter {
  color: black;
  font-size: 10rem;
}