
<div id="aquarium">
  <div id="title">
    <h1 class="text-center fish-title"><a class="sealife-leave" href="https://oceana.org/MARINE-LIFE" target="_blank">Sealife</a></h1>
  </div>
  <div id="flora_fauna">
		<div class="fish--a1 fish--xs"></div>
		<div class="fish--a2 fish--sm"></div>
		<div class="fish--a3 fish--xs"></div>
		<div class="fish--a4 fish--md"></div>
		<div class="fish--a5 fish--sm"></div>
		<div class="fish--a6 fish--xs"></div>
		<div class="fish--a7 fish--sm"></div>
		<div class="fish--b fish--sm"></div>
		<div class="fish--c fish--lg"></div>
		<!-- <div class="flora--a"></div> -->
		<!-- <div class="flora--b1"></div> -->
		<!-- <div class="flora--b2"></div> -->
		<div class="flora--c"></div>
		<div class="flora--d"></div>
	</div>
</div>